<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example.data"/>

    <bean id="student1" class="org.example.data.Student" init-method="enrollment">
        <property name="name" value="Oleg"/>
        <property name="gradeBySubject">
            <map>
                <entry key="MATHEMATICS" value="TWO"/>
                <entry key="PHYSICS" value="TWO"/>
                <entry key="INFORMATICS" value="THREE"/>
                <entry key="ENGLISH_LANGUAGE" value="FOUR"/>
            </map>
        </property>
    </bean>

    <bean id="student2" class="org.example.data.Student" init-method="enrollment">
        <property name="name" value="Sashok"/>
        <property name="gradeBySubject">
            <map>
                <entry key="MATHEMATICS" value="FIVE"/>
                <entry key="PHYSICS" value="FIVE"/>
                <entry key="INFORMATICS" value="FOUR"/>
                <entry key="ENGLISH_LANGUAGE" value="THREE"/>
            </map>
        </property>
    </bean>

    <bean id="student3" class="org.example.data.Student" init-method="enrollment">
        <property name="name" value="Jil"/>
        <property name="gradeBySubject">
            <map>
                <entry key="MATHEMATICS" value="TWO"/>
                <entry key="PHYSICS" value="TWO"/>
                <entry key="INFORMATICS" value="THREE"/>
                <entry key="ENGLISH_LANGUAGE" value="THREE"/>
            </map>
        </property>
    </bean>

</beans>